<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<add name="dbKSP3" connectionString="Server=ksp3.ddns.net,5566;Database=dbKSP3;User Id=dev;Password=1;" providerName="System.Data.SqlClient"/>
		<add name="dbBridge" connectionString="Server=ksp3.ddns.net,5566;Database=KSP2CVer2;User Id=dev;Password=1;" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<!--<connectionStrings>
		<add name="dbKSP3" connectionString="Server=127.0.0.1,5566;Database=dbKSP3;User Id=dev;Password=1;" providerName="System.Data.SqlClient"/>
		<add name="dbBridge" connectionString="Server=127.0.0.1,5566;Database=KSP2CVer2;User Id=dev;Password=1;" providerName="System.Data.SqlClient"/>
	</connectionStrings>-->
</configuration>
