<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<!--<add name="dbKSP3" connectionString="Server=.\SQLEXPRESS;Database=dbKSP3;User Id=dev;Password=1;" providerName="System.Data.SqlClient"/>-->
		<add name="dbKSP3" connectionString="Server=42.116.131.178,5566;Database=dbKSP3;User Id=dev;Password=1;" providerName="System.Data.SqlClient"/>
	</connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
